.socials {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    gap: 0.5em;

}
.socials > .social-link {
    color: #999;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    width: 1em;
    height: 1em;
   
}
.socials > .social-link:hover {
    color: #55337a;
    margin: -0.25em;
    font-size: 1em;
}
